{% extends "base.html" %}
{% load static %}

{% block title %}Our Properties{% endblock %}

{% block content %}

  <section class="probootstrap-slider flexslider2 page-inner">
    <div class="overlay"></div>
    <div class="probootstrap-wrap-banner">
      <div class="container">
        <div class="row">
          <div class="col-md-8">

            <div class="page-title probootstrap-animate">
              <div class="probootstrap-breadcrumbs">
                <a href="/">Home</a><span>Properties</span>
              </div>
              <h1>Properties</h1>
            </div>

          </div>
        </div>
      </div>
    </div>
    <ul class="slides">
      <li style="background-image: url(img/slider_1.jpg);"></li>
      <li style="background-image: url(img/slider_4.jpg);"></li>
      <li style="background-image: url(img/slider_2.jpg);"></li>
    </ul>
  </section>


  <section class="probootstrap-section probootstrap-section-lighter">
    <div class="container">
      <div class="row">
        {% for property in properties_list %}
        <div class="col-md-4 col-sm-6">
          <div class="probootstrap-card probootstrap-listing" style="height:550px">
            {% if property.image %}
              <div class="probootstrap-card-media">
                <img src="{{property.image.url}}" class="img-responsive" alt="Free HTML5 Template by uicookies.com"
                style="height: 283px; position: relative; width: 100%;">
                <a href="#" class="probootstrap-love"><i class="icon-heart"></i></a>
              </div>
            {% else %}
              <div class="probootstrap-card-media">
                <img src="{% static "img/slider_1.jpg" %}" class="img-responsive" alt="Free HTML5 Template by uicookies.com">
                <a href="#" class="probootstrap-love"><i class="icon-heart"></i></a>
              </div>
            {% endif %}
            <div class="probootstrap-card-text">
              <h2 class="probootstrap-card-heading"><a href="{% url 'properties:property_detail' property.slug %}">{{property.name}}</a></h2>
              <div class="probootstrap-listing-location">
                <i class="icon-location2"></i> <span>{{property.governorate.governorate_name}}, {{property.city}}</span>
              </div>
              {% if property.type == 'sale' %}
                <div class="probootstrap-listing-category for-sale"><span>for sale</span></div>
              {% else %}
                <div class="probootstrap-listing-category for-rent"><span>for rent</span></div>
              {% endif %}

              <div class="probootstrap-listing-price"><strong>£ {{property.price}}</strong>{% if property.type == 'rent' %} / month{% endif %}</div>
            </div>
            <div class="probootstrap-card-extra">
              <ul>
                <li>
                  Area
                  <span>{{property.area}} m2</span>
                </li>
                <li>
                  Beds
                  <span>{{property.beds_room_number}}</span>
                </li>
                <li>
                  Baths room
                  <span>{{property.baths_number}}</span>
                </li>
                <li>
                  Garages
                  <span>{{property.garages_number}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>

        {% endfor %}
      </div>
        <nav aria-label="Page navigation example ">
          <ul class="pagination justify-content-center middle">
            {% if properties_list.has_previous %}
            <li class="page-item ">
              <a class="page-link" href="?page={{ properties_list.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
              </li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="?page={{ properties_list.number }}">{{ properties_list.number }} of {{ properties_list.paginator.num_pages }}</a></li>

            {% if properties_list.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ properties_list.next_page_number }}">Next</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#">Next</a>
              </li>
            {% endif %}
          </ul>
      </nav>
    </div>
  </section>



  <section class="probootstrap-section">
    <div class="container">
      <div class="row heading">
        <h2 class="mt0 mb50 text-center">Explore Our Neighborhoods</h2>
      </div>

        {% for governorate in governorates %}
        <div class="col-md-6 col-sm-6">
          <a href="/?q={{governorate.governorate_name}}" class="probootstrap-hover-overlay" style="height:350px">
            {% if governorate.image %}
              <img src= "/media/{{governorate.image}}/" alt="{{governorate.governorate_name}}" class="img-responsive" style="width:100%; height:100%">
            {% else %}
              <img src="{% static 'img/slider_2.jpg' %}" alt="Free Bootstrap Template by uicookies.com" class="img-responsive">
            {% endif %}

            <div class="probootstrap-text-overlay">
              <h3>{{governorate.governorate_name}}</h3>
              <p>{{governorate.property_count}} Properties</p>
            </div>
          </a>
        </div>

        {% endfor %}
      </div>
    </div>
  </section>

{% include "_footer.html" %}

{% endblock %}
